@page "/Favourites"
@using System.Text.Json;
@using System.Web;
@model DealingWithCookies.Pages.FavouritesModel
@{
}
@Html.AntiForgeryToken()
<h1>Favourite Feeds</h1>
<p id="message"></p>

@if (string.IsNullOrEmpty(Request.Cookies["favourites"]))
{
    <p id="message">No favourite feeds selected.</p>
}
else
{
    @foreach (var feedLink in Model.FavouriteFeedList)
    {
        <div class="card" @(feedLink.Visible ? "" : "style=\"display:none;\"")>
           <div class="card-body">
               <div class="title-section" style="display:flex; justify-content:space-between">
                   <h4>@feedLink.FeedTitle</h4>
                    <form id="myFavouritesForm">
                        <button type="button" id="submit" class="btn btn-orange callAjaxRequest" data-title="@feedLink.FeedTitle" data-link="@feedLink.FeedLink"  style="font-size:15px; color:white">unstar</button>
                            <style>
                                .btn-orange {
                                    background-color: orange;
                                    color: black;
                                }
                            </style>
                        </form>
               </div>
                    <a asp-page="/Feed" asp-route-message="@feedLink.FeedLink" target="_blank">
                        <button type="submit" class="btn btn-primary" style="background-color: darkblue">Link</button>
                    </a>
           </div>
       </div>
       <br />
    }
}
@section Scripts
    {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(".callAjaxRequest").click(function () {
            var button = $(this);
            var feedTitle = $(this).data("title");
            var link = $(this).data("link");
            $.ajax({
                type: "POST",
                url: "/Favourites?handler=GetAjaxRequest",
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    "feedTitle": feedTitle,
                    "link": link
                },
                dataType: "json",
                headers:
                {
                    "RequestVerificationToken": $('input:hidden[name="__RequestVerificationToken"]').val()
                },
                success: function (result) {
                    var visibleCards = $(".card:visible");
                    button.closest(".card").hide();
                    if(visibleCards.length==1)
                    {
                        $("#message").text("No favourite feeds selected. ")
                    }
        }
            });
        });
    </script>
 }
